* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    cursor: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #222;
    /* background-image: url('../img/background.jpg'); */
    color: white;
    text-align: center;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: 700 40px/1.2 Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 5px 0 5px;
}

img {
    margin: auto;
}

.container {
    width: 100%;
    padding-bottom: 56.25%;
}

.background, .background-up {
    bottom: 96px;
    background-size: cover;
    position: absolute;
    width: 110%;
    left: -5%;
    top: -5%;
}

.text {
    position: absolute;
    text-align: center;
    bottom: 50%;
    width: 100%;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* TYPED */

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
    background: #222;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status {
    width: 100px;
    height: 100px;
    border: 3px solid #f3f3f3;
    border-top: 4px solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}